doctype html
html(lang="en")
head

    // –– META
    meta(charset="utf-8")
    title(Cardboard/title)
    meta(name="description" content="")
    meta(name="author" content="")

    // –– FONTS
    link(href="http://fonts.googleapis.com/css?family=Roboto:400,600,800" rel="stylesheet")

    // –– CSS
    link(rel="stylesheet" href="base.min.css")

body
    div Juiceboxes!
